<div class="container">
    <form action="order" method="post">
    <input type="hidden" name="card_id" value="75234dc2-ceb3-4227-9613-103a34d51270">
        <div class="form-group">
            <label for="name1">Name</label>
            <input type="text" name="name1" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="mobile">mobile</label>
            <input type="tel" pattern="[0-9]{10}" name="mobile" class="form-control">
        </div>
        <div class="form-group">
            <label for="profession">Profession</label>
            <input type="text" name="profession" class="form-control">
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="text" name="website" class="form-control">
        </div>
        <div class="form-group">
            <label for="address">Address</label><br>
            <textarea name="address" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <input type="Submit"  class="form-control" value="Submit">
        </div>
    </form>
</div>