body {
    min-height: 100vh;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: #4a4950;
    background: linear-gradient(140deg, #2b2a36, 50%, #0062cc)
}

.container-fluid {
    margin-top: 200px
}

p {
    font-size: 14px;
    margin-bottom: 7px
}

.small {
    letter-spacing: 0.5px !important
}

.card-1 {
    box-shadow: 2px 2px 10px 0px rgb(23, 102, 221)
}

hr {
    background-color: rgba(160, 160, 160, 0.667)
}

.bold {
    font-weight: 500
}

.change-color {
    color: #0062cc !important
}

.card-2 {
    box-shadow: 1px 1px 3px 0px rgb(112, 115, 139)
}

.rounded {
    border-radius: 2.25rem !important
}

.invoice {
    position: relative;
    top: -70px
}

.Glasses {
    position: relative;
    top: -12px !important
}

.card-footer {
    background-color: #2982e0;
    color: #fff
}

h2 {
    color: rgb(255, 255, 255);
    letter-spacing: 2px !important
}

.display-3 {
    font-weight: 500 !important
}

@media (max-width: 479px) {
    .invoice {
        position: relative;
        top: 7px
    }
    .border-line {
        border-right: 0px solid rgb(226, 206, 226) !important
    }
    .card-body {
        position: relative;
    }
}

@media (max-width: 700px) {
    h2 {
        color: white;
        font-size: 20px;
    }
    .display-3 {
        font-weight: 500 !important
    }
    .col-auto {
        flex-basis: 1;
    }
}

.card-footer small {
    letter-spacing: 7px !important;
    font-size: 12px
}

.border-line {
    border-right: 1px solid rgb(226, 206, 226)
}

.r-button {
    float: right;
    border-style: none;
}

.delete {
    background-color: #0062cc;
    color: white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.col-auto {
    padding-left: 60px;
}